@import url('__date/message-container__date.css');
@import url('__received/message-container__received.css');
@import url('__sent/message-container__sent.css');
@import url('__image/message-container__image.css');
@import url('__time/message-container__time.css');

.message-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}
