@import url(../blocks/button/button.css);
@import url(../blocks/card/card.css);
@import url(../blocks/input-field/input-field.css);

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
