@import url(__back-button/left-menu__back-button.css);

.left-menu {
	width: 64px;
	border-right: 1px solid #eaeaea;
	background: #fbfbfb;
	display: flex;
	align-items: center;
	justify-content: center;
}
