@import url(./_opened/popup_opened.css);
@import url(./__content/popup__content.css);
@import url(./__header/popup__header.css);
@import url(./__text/popup__text.css);

.popup {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	line-height: 0;
	visibility: hidden;
}

.popup-form {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.popup-close-button {
	position: relative;
	top: -32px;
	left: 150px;
	cursor: pointer;
}
